* {
    background-color: lightcoral;
    margin: auto;
    text-align: center;
}

.salmon {
    font-size: 75px;
    align-items: center;
}

h2 {
    text-decoration: underline;
}

h1, h2, h3 {
 font-size: 30px;
font-weight: 700;
font-family: "Sofia", sans-serif;
color: bisque;
}

img {
    margin: 30px;
}

nav ul li{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;

}

h4 {
    font-weight: bolder;
}

.hours {
    font-size: 50px;
    width: 100%;
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    bottom: 0;
}

.lima {
    padding-bottom: 40px;
}

.contacts {
    padding-bottom: 70px;
}

p {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Sales Styles */

table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

table th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color:
}

table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: grey;
}

#heading {
    font-family: "Sofia", sans-serif;
    color: bisque;
    padding: 10px;
    text-align: center;
}

.salesbtn {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}