* {
    background-color: brown;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    color: bisque;   padding-bottom: 50px;

}

h2 h3 {
    font-style: "times new roman" sans-serif;
}

footer {
    position: fixed;
    bottom: 10px;
    background-color: transparent;
    width: 100%;
}

.salmon {
    border: solid;
    border-radius: 50%;
    padding: 20px;
    margin-top: 50px;
}



nav ul li {
    display: inline;
    
}

.lima {
    padding-bottom: 50px;
}

